<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">BookStore</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/home/cart" routerLinkActive="active">Cart</a></li>
        <li><a routerLink="/home/about" routerLinkActive="active">About</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a><p>Hi, {{name}}</p></a></li>
        <li><a routerLink="/login"><Button class="btn btn-primary" (click)="logout()">Logout</Button></a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
